<app-card titulo="Primeiro Component" cor="#FFF343">
    <app-primeiro-componente></app-primeiro-componente>
</app-card>


<app-segundo-componente></app-segundo-componente>
<app-pipe-customizado></app-pipe-customizado>
<app-two-way-data-binding></app-two-way-data-binding>
<app-renderizando-listas></app-renderizando-listas>

<app-componente-personalizado nome="João" sobrenome="da Silva"></app-componente-personalizado>
<app-componente-personalizado nome="João" sobrenome="Carreiro"></app-componente-personalizado>
<app-componente-personalizado nome="João" sobrenome="Felipe"></app-componente-personalizado>

<hr>

<app-componente-pai></app-componente-pai>

<app-exemplo-sevicos1></app-exemplo-sevicos1>

<app-exemplo-servicos2></app-exemplo-servicos2>

<app-ciclo-de-vida-pai></app-ciclo-de-vida-pai>